


body {
 	font-family: "Times New Roman", Times, Serif;
 	font-size: 15px;
 	margin: 40px;
 	max-width: 900px;

}


@media only screen and (max-width: 1250px) {
  body {
    font-size: 40px;
  }
}



h1 {
 	font-family: Helvetica, Sans-serif;

}

h2 {
 	font-family: Helvetica, Sans-serif;
}

h3 {
 	font-family: Helvetica, Sans-serif;
}

ul{
  	list-style: none;
}

li {
	margin-bottom: 1em;
}

a {
 	color: #0645AD;
 	text-decoration: none;
 	
}

li a {
	color: #0645AD;
	text-decoration: none;
	border-bottom: none;
}

.intro {
	font-size:120%;>
}

.feature {
  	max-width: 800px;
  	color: 696969;
}

.feature .desc {
	width: 750px;
	display: inline-block;
	margin-bottom: 1em;
	margin-left: -1em;
	margin-right: -1em;
	border-style: dotted;
	border-color: #dadada;
	border-radius: 15px;
	border-width: 2px;
	padding: 10px;
}

.desc li {
	margin-bottom: 1em;
}

