
body {
	background-color: #F8F8F8;
	}

div.intro {
	font-family: 'Garamond';
  font-size: 28px;
	padding: 60px 50px 20px 50px;
  max-width: 1000px;
  margin-left: auto;
	margin-right: auto;
  }
  
hr {
  border-top: 3px dotted;
  max-width: 1000px;
  margin: 20px 0px 20px 0px;
  margin-left: auto;
	margin-right: auto;
}
  
div.subhed {
	font-family: 'Garamond';
	font-size: 28px;
	padding: 10px 50px 0px 50px;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

a {
  color: blue;
  text-align: center;
}

div.header {
	font-family: 'Palatino';
  font-size: 12px;
}

div.scroll-container {
  overflow: auto;
  white-space: nowrap;
  padding: 5px 50px 25px 20px;
  max-width: 1000px;
	overflow: scroll;
	margin-left: auto;
	margin-right: auto;
}

div.scroll-container img {
  padding: 10px;
}
